@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: 0;
}


    .active {
        color: #FFC000;
    }

    .slider {
        width: 50%;
        margin: 20px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
      max-width: 300px;
      min-width: 300px;
      max-height: 300px;
      min-height: 300px;
    }

    .slick-slide p {
        text-align: center;
        padding: 10px 0;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

h1, h2 {
    margin: 0;
}

button, a {
    cursor: pointer;
}

html, body {
    padding: 0;
    margin: 0;
}

.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 25px);
    background-color: #ffe187;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img {
    width: 60%;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Imagens/fundo/fundo_desfoque.png);
    background-size: cover;
    font-family: 'Bank', sans-serif;
}

.home .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.center {
    width: 70%;
    margin: 0 auto;
}

.center-portfolio {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #0000ca86;
    padding: 10px 0;
    transform: translateY(-150px);
}

.header .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 200px;
}

.header .center .menu nav ul li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    color: white;
}

.header .center .menu nav ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header .center .menu nav ul .ball {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: gold;
}

.header .center .menu nav ul li a:hover {
    color: gold;
    cursor: pointer;
}

.header .menu nav ul :first-child {
    list-style: none;
}

.header .menu nav ul {
    display: flex;
    align-items: center;
}


.header-2 {
    background-color: #26262886;
    padding: 10px 0;
}

.header-2 .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2 .logo img {
    width: 200px;
}

.header-2 .center .menu nav ul li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    color: white;
}

.header-2 .center .menu nav ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header-2 .center .menu nav ul .ball {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: gold;
}

.header-2 .center .menu nav ul li a:hover {
    color: gold;
    cursor: pointer;
}

.header-2 .menu nav ul :first-child {
    list-style: none;
}

.header-2 .menu nav ul {
    display: flex;
    align-items: center;
}


.home section.welcome {
    width: 100%;
    margin-top: 200px;
    background-color: #000000b9;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.home section h2{
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
}

.home section button{
    margin-top:  40px;
    padding: 8px 15px;
    background-color: #ffe187;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    border-radius: 5px;
}

.solutions {
    padding: 20px 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.solutions header {
    padding-top: 30px;
    text-align: center;
}

.solutions header h2 {
    padding: 10px;
    font-size: 1.8rem;
    display: inline;
    border-bottom: 3px solid #ffe187;
    border-radius: 50%;
}

header {
    text-align: center;
    padding-top: 20px;
}

header h2 {
    padding: 10px;
    font-size: 1.8rem;
    display: inline;
    border-bottom: 3px solid #ffe187;
    border-radius: 50%;
}

.solutions header h4 {
    padding: 30px;
    font-weight: normal;
}

.solutions .card-solutions {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.solutions .card-solutions .card{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.solutions .card-solutions ul {
    margin: 5px 0;
    width: 90%;
}

.solutions .card-solutions ul li {
    margin-top: 5px;
    list-style: none;
    font-size: 0.9rem;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.solutions .card-solutions .card img{
    width: 90%;
    height: 150px;
    border: 2px solid #ffe187;
    border-radius: 15px;
}

.solutions .card-solutions .card h2{
    font-size: 1.2rem;
    margin-top: 10px;
    width: 90%;
}

.solutions .about-solutions {
    color: white;
    width: 100%;
    background-image: url(./assets/Imagens/solucoes.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 20px 0;
}

.solutions .about-solutions header {
    padding-top: 30px;
    flex: 1;
}

.solutions .about-solutions .center {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

.solutions .about-solutions .center img {
    width: 200px;
}

.solutions .about-solutions .center h2 {
    font-size: 1.3rem;
}

.solutions .about-solutions .center li {
    list-style: none;
    margin: 2px 0;
    font-size: 0.8rem;
}


.about-us {
    margin-top: 30px;
}

.about-us .row {
    display: flex;
    justify-content: space-between;
}

.about-us .about {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.about-us .row + .row{
    margin: 60px 0;
}

.about-us .about img {
    width: 40px;
    margin-right: 10px;
}

.about-us .about .about-text {
    width: 80%;
    margin-right: 10px;
}

.about-us .about .about-text h2 {
    margin-bottom: 10px;
}

.company {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.336);
    padding-bottom: 40px;
}


.contact {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.336);
}

.contact header {
    padding-top: 40px ;
}

.contact .contact-methods {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.contact .contact-methods .method{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.contact .contact-methods .method img{
    width: 50px;
    margin: 10px;
}

.contact .contact-methods .method strong{
    margin: 10px;
}

.contact .contact-form {
    margin-top: 50px;
    width: 100%;
    background-image: url(./assets/Imagens/fundo/fundo_contato.png);
}

.contact-form form {
    padding-top: 50px;
}

.contact-form form, textarea {
    width: 100%;
}

.contact-form  input {
    width: 30%;
}

.contact-form form .inline-inputs {
    display: flex;
    justify-content: space-between;
}

.contact-form input {
    padding: 8px 10px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 0;
}

.contact-form textarea {
    margin: 20px 0;
    padding: 8px 10px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 0;
    color: white;
}

.contact-form .contact-send {
    display: flex;
    justify-content: center;
}

.contact-form .contact-send button {
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color: #FFC000;
    color: white;
    border: 0;
    font-weight: bold;
    margin-bottom: 40px;
}

.portfolio {
    width: 100%;
    padding-bottom: 50px;
}

.portfolio .wrapper-carrousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 30px 0;
    border-radius: 15px;
    background-color: #ffe187;
}

.portfolio .wrapper-carrousel .container-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .wrapper-carrousel .container-carrousel .card-carrousel .image-carrousel {
    border-radius: 15px;
    border: 1px solid black;
    width: 90%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.portfolio .wrapper-carrousel .container-carrousel .card-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .wrapper-carrousel .container-carrousel .card-carrousel img {
    width: 100%;
    max-width: 330px;
    min-width: 330px;
    max-height: 300px;
    min-height: 300px;
}

.portfolio .wrapper-carrousel .container-carrousel .card-carrousel h3 {
    margin-top: 10px;
}

.arrows {
    font-size: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.arrow-left {
    visibility: hidden;
}


.produtos {
    width: 100%;
    height: 100vh;
    font-family: 'Bank', sans-serif;
}

.produtos .header, .header-2 {
    background-color: black;
}

.produtos .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper-categories {
    margin-top: 50px;
}

.wrapper-categories nav ul.ul-1 {
    border-bottom: 1px solid #FFC000;
}

.wrapper-categories nav ul {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-categories nav ul .ball {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: gold;
}

.wrapper-categories nav ul li {
    list-style: none;
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
}

.container-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-product img {
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    margin-right: 30px;
    text-align: center;
}

.container-product .image-product {
    text-align: center;
}

.container-product .text-product {
    font-size: .8rem;
}


.container-product .text-product, .image-product {
    width: 100%;
}

.container-product p {
    margin: 10px 0;
}